* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --apple-black: #1d1d1f;
    --apple-gray: #86868b;
    --apple-light-gray: #f5f5f7;
    --apple-white: #ffffff;
    --apple-blue: #0071e3;
    font-size: 16px;
    line-height: 1.5;
    color: var(--apple-black);
    background-color: var(--apple-white);
}